{
  "printWidth": 80,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@app/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
