<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896154469085-fjpu8gfkeg7ps3m3vu7ibtq28rqb2r20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896154469085-fjpu8gfkeg7ps3m3vu7ibtq28rqb2r20</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>896154469085-8683cv63d6tqdne9ll19te7dsrmqk3nf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtEjaHKmXwC_7Bobi3aWeXrP7-EPGJS1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>896154469085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denisdov.expornfirebasechat</string>
	<key>PROJECT_ID</key>
	<string>expo-rn-firebase-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>expo-rn-firebase-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896154469085:ios:323af5c529eb46df95d134</string>
</dict>
</plist>